* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: white;
    --background: #cd2026;
}

html {
    color: white;
    background-color: black;
}

body {
    height: 100vh;
}

header {
    width: 100vw;
    height: 90px;
}

a {
    display: inline;
    text-align: right;
    color: var(--text);
    background-color: var(--background);
    padding: 1rem;
    line-height: 90px;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1, h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 3rem;
}

button {
    padding: 1rem;
    background-color: var(--background);
    border: none;
    color: var(--text);
    font-size: 3rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

#red {
    background-color: #cd2026;
}

#blue {
    background-color: #112e51;
}

#yellow {
    background-color: #fdb81e;
}

#light-blue {
    background-color: #02bfe7;
}

#black {
    background-color: black;
    color: white;
}

#white {
    background-color: white;
    color: black;
}

footer {
    display: fixed;
    bottom: 0;
}