<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>ReadEars</title>
</head>

<body>
    <header>
        <h1>Alle boeken</h1>
    </header>
    <main>
        <section>
            <article>
                <div class="text-content">
                    <h2>Skillfull Means</h2>
                    <ul>
                        <li>Beschikbare pagina's: 2</li>
                        <li>Actuele pagina: 1</li>
                        <li>Aantal pagina's: 200</li>
                    </ul>
                    <a href="/skillfulmeans1">Skillfull Means, pagina 1</a>
                </div>
            </article>
        </section>
    </main>
</body>

</html>