<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadEars</title>
</head>
<body>
    <header>
        <h1>All Books</h1>
    </header>
    <main>
        <section>
            <article>
                <h2>Skillfull Means</h2>
                <ul>
                    <li>Niet beluisterde pagina's: 2</li>
                    <li>Actuele pagina: 1</li>
                    <li>Aantal pagina's: 200</li>
                    <a href="/skillfulmeans1">Ga naar Skillfull Means, pagina 1</a>
                </ul>
            </article>
        </section>
    </main>
</body>
</html>