<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script src="src/client.js" defer></script>
    <title>Skillfull Means</title>
</head>

<body>
    <header>
        <h1>Skillful Means - pagina 3</h1>
        <a href="/"><img src="img/overview.png" alt="Terug naar alle boeken"></a>
    </header>
    <main>
        <span>Helaas zit je weer met mij opgescheept.. Mijn naam is Rob en mijn excuses voor mijn robotstem. </span>
        <p>Each living being in the universe expresses its true nature in the proces of living. Working is the natural
            human response to being alive, our way of participating in the universe. Work allows us to make full use of
            our potential, to open to the infinite range of experience which lies within even the most mundane activity.
            Through work we can learn to use our energy wisely so that all of our actions are fruitful and rich.</p>
    </main>
    <footer>
        <button class="vorige"><a href="/skillfulmeans2">Vorige</a></button>
        <audio id="player" src="audio/introduction.mp3">
            Unfortunatly your browser doesn't support audio. Please switch to another browser (Safari for example).
        </audio>
        <div id="audio-controls">
            <button id="play"><img src="img/playButton.png" alt=""></button>
            <button id="pause"><img src="img/pauseButton.png" alt=""></button>
        </div>
        <button class="volgende"><a href="/skillfulmeans3">Volgende</a></button>
    </footer>
</body>

</html>