<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Skillfull Means</title>
</head>

<body>
    <header>
        <h1>Skillful Means - pagina 1</h1>
    </header>
    <main>
        <p>[Harp geluid]</p>
    </main>
    <footer>
        <audio controls>
            <source src="audio/harp.mp3" type="audio/mp3">
            Unfortunatly your browser doesn't support audio. Please switch browsers (Safari for example).
        </audio>
        <button><a href="/skillfulmeans2">Volgende pagina</a></button>
    </footer>
</body>

</html>